<div class="dashbox">
    <h3><span title="<%= metric('warnings').description -%>"><%= metric('warnings').short_name -%></span></h3>
    <p>
      <span class="big">
        <%= format_measure('warnings') -%>
      </span>
    </p>
</div>
